@import "tailwindcss";

@theme {
  --color-ant-sidebar: #001529;
  --color-ant-blue: #1890ff;
  --color-ant-bg: #f0f2f5;
  --color-ant-header: #ffffff;
  --shadow-ant: 0 2px 8px rgba(0, 0, 0, 0.15);
}

@layer base {
  body {
    @apply bg-ant-bg text-gray-900 antialiased;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
